// Default colors
$primary:       #1f3e5a;
$secondary:     #145051;
$accent:        #A63D40;

// Custom colors
$gray-200: #e9ecef;

// Fonts
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
